[2020-10-15 22:49] ericR-123 opened #5 "What are the ktlint --disabled_rules?"

[2020-10-17 20:42] nbadal commented on #5
If I'm misunderstand your question let me know! But you can find **ktlint**'s rule names in the error message if you hover over the error annotation like this one for `no-semi`:

<img width="362" alt="Screen Shot 2020-10-17 at 1 41 33 PM" src="https://user-images.githubusercontent.com/394812/96353158-7a607e80-107e-11eb-884c-3027a10632db.png">

I'll also be adding an option to disable the rule via

[2020-10-17 20:47] nbadal commented on #5
I can also see about adding some autocomplete to this field as well, that would probably be helpful!

[2020-10-18 20:47] nbadal opened #7 "ParseException: 1:1 Expecting a top level declaration"
This exception occurred for me locally, and likely in the wild but before Rollbar was fixed:

[code]

Maybe when the file had an incorrect number of curly braces? If the linter fails on these kinds of cases, we should just skip the annotation pass, or insert it as a full-file error perhaps.

[2020-10-18 20:48] nbadal commented on #5
@ericR-123 adding both of these features to v0.4.0 😁 closing for now

[2020-10-18 20:48] #5 closed

[2020-10-19 10:41] mlthlschr opened #8 "Use Intellij built-in code formatter"
It would be great to integrate the plugin with the built-in code formatter (CTRL-ALT-L). This would not only be easier regarding the shortcut, but would also give the possibility of checking "reformat code" when commiting code and reformat it automatically.

As an example, the plugin of [prettier](https://github.com/JetBrains/intellij-plugins/tree/master/prettierJS) in the world of javascript is c

[2020-10-19 16:01] nbadal commented on #8
Good idea! And thanks for the example link!
I'll take a look at the viability of this for the next update (0.4.0 is being submitted today) :)

[2020-10-19 20:55] nbadal commented on #8
Implemented here 😁
https://github.com/nbadal/ktlint-intellij-plugin/commit/a8f08ebbf73b2ad13e315ad6f48817c7d1c8b910

Be wary though, even with "Reformat" during a commit, not all ktlint rules are auto-fixed by the tool itself. Some need to be manually fixed, such as `no-wildcard-imports` for example

[2020-10-19 21:10] nbadal opened #9 "Empty sections are present in JetBrains / release draft changelogs"
It would be nice to remove the empty sections of the changelog markdown before uploading it.

[2020-10-20 14:50] mlthlschr commented on #8
Wow, that was quick! :-D Thanks for that, I am going to take a look at it.

The `no-wildcard-imports` issue goes a little bit deeper, right? I know that you can set this setting in the intellij code formatting options, maybe it is possible to trigger it somehow?

[2020-10-20 15:48] nbadal commented on #8
Yeah for that one specifically there's a few IDE settings to turn off the wildcard threshold in `Settings > Editor > Code Style > Kotlin > 'Imports' Tab`

The command line utility for ktlint has a flag to set some IntelliJ settings, which might include that, but I'm holding off on implementing that part because I think they're talking about transitioning to an `.editorconfig`-based solution soon.

[2020-10-20 15:52] nbadal commented on #8
Closing since this particular issue is merged and ready for 0.5.0, but happy to continue the discussion 😁

[2020-10-20 15:52] #8 closed

[2020-10-26 15:59] nbadal opened #10 "Read Access Exception"
ref: https://rollbar.com/nbadal/ktlint-intellij-plugin/items/4/

We probably need to wrap `KtlintProcessing.kt:39` to avoid this

[2020-10-28 04:08] nbadal commented on #7
Identified that this happens in the debug evaluator – maybe other kotlin input areas as well like templates?

[2020-10-28 18:23] #7 closed

[2020-11-07 01:23] nbadal opened #11 "Crash when formatting in-memory files"
https://rollbar.com/nbadal/ktlint-intellij-plugin/items/8

`virtualFile` can be null, so we should be checking for that first

[2020-11-07 18:21] nbadal opened #12 "ParseException from KtLint causes crash"
It seems like some syntax errors cause KtLint to throw a `ParseException`, which if uncaught cause the plugin to crash.

We should catch these at the linting level and skip results, not crash entirely.

[2020-11-07 19:08] #11 closed

[2020-11-07 19:09] #12 closed

[2020-11-12 00:47] nbadal commented on #10
test

[2020-12-03 16:08] thiagodsti opened #16 "Intellij version to 203.*"
Can you increase the version of intellij to 203.*

I've tried to open a PR for you, but looks like we are not allowed.
Thanks

[2020-12-07 18:48] r6e commented on #16
Opened #17 to address this.

[2020-12-10 08:09] tekener commented on #16
Hi, 2020.3 is out now and it would be nice to have ktlint again... 😁

[2020-12-10 20:41] nbadal commented on #16
Sorry for the delay folks! Honestly wasn't expecting so much engagement, I guess this is my first proper open source github issue 😂  – I'll address this today!

+ Thanks @r6e!

[2020-12-10 20:43] nbadal commented on #16
Also fixed my email notification settings so I don't miss another discussion 👀  thanks all

0.6.0 will be submitted later today with `203.*` support!

[2020-12-11 02:37] nbadal commented on #16
v0.6.0 has been submitted, and is available immediately via GitHub releases. Closing for now, thanks everyone!

[2020-12-11 02:37] #16 closed

[2020-12-25 21:54] sureshg opened #24 "Provide an option to run ktlint all project files or package."
Thanks for this awesome plugin, much appreciated. It would be really helpful to have an option to run the lint task for all files in a project or a package instead of doing it file by file.

[2020-12-29 23:55] nbadal commented on #24
This should be possible, in theory! We currently use an Annotator, but we could switch to using the [Inspection system within the IDE](https://jetbrains.org/intellij/sdk/docs/reference_guide/custom_language_support/code_inspections_and_intentions.html).

This requires a bit more configuration, but I'll look back into it soon 😄

[2021-01-08 09:58] mezpahlan opened #28 ".editorconfig override path"
Hi there

Great plugin, our team loves using it!

I recently upgraded to 0.7.0 and started to notice that previously acceptable kotlin files were now marked with ktlint errors. Specifically the line length error. On closer inspection it seemed to be reporting the line length and import ordering as the default ktlint values and not the values that we have set in our `.editorconfig` file.

I don't r

[2021-01-13 04:57] phanimahesh commented on #28
Can confirm that the editor config at project root is not being picked up. Setting override works, though. Multi module maven project on linux.

[2021-01-21 10:14] tomholub opened #34 "IllegalArgumentException: Argument for @NotNull parameter 'fileOrDir' of com/intellij/openapi/roots"
Hello, saw the following in IDE bottom right corner - unfortunately unsure exactly how was it triggered.

[code]

[2021-01-23 21:24] nbadal commented on #28
Thanks for flagging this! I'll take a look today 😄

@phanimahesh by chance - did this issue also arise with 0.7.0 specifically for you? Or has it always been the case?

[2021-01-23 22:07] IvanPizhenko opened #35 "Add support for multiple/runtime-specific versions of ktlint"
I have a code like this:
[code]
IDE with installed ktlint plugin is happy with this code, i.e. doesn't put red marks.
But when I run my Gradle build, ktlint check compains at the same code:
[code]
I'm expecting that should plugin also detect this inconsistency, but actually it is not.

[2021-01-23 22:25] IvanPizhenko commented on #35
Here is my editorconfig:
 [editorconfig.txt](https://github.com/nbadal/ktlint-intellij-plugin/files/5861204/editorconfig.txt)

[2021-01-23 22:34] IvanPizhenko commented on #35
Here are some more IntelliJ configs (uploading as txt because github doesn't want to accept xml attachment):
[codeStyleConfig.xml.txt](https://github.com/nbadal/ktlint-intellij-plugin/files/5861218/codeStyleConfig.xml.txt)
[Project.xml.txt](https://github.com/nbadal/ktlint-intellij-plugin/files/5861220/Project.xml.txt)
[ktlint.xml.txt](https://github.com/nbadal/ktlint-intellij-plugin/files/5861224

[2021-01-23 22:47] nbadal commented on #35
Thanks for flagging this and for the sample files! I'll take a look today 😄

[2021-01-23 23:29] nbadal commented on #35
@IvanPizhenko is it possible this is caused by #28 ? The workaround / way to test this would be to explicitly set the folder for your `.editorconfig` in the plugin settings.

I wasn't able to reproduce that ktlint error with a short example, but that message comes from the `indent` rule, so maybe it only gets triggered under more complex circumstances 🤔

[2021-01-23 23:36] IvanPizhenko commented on #35
@nbadal Yes, I've faced #28, but I've added explicit path to the editorconfig, you can see `<editorConfigPath>$PROJECT_DIR$</editorConfigPath>` in the attached ktlint.xml. So this one is already mitigated. I have the plugin generally working, but in this particular situation it doesn't work correctly.

[2021-01-23 23:38] IvanPizhenko commented on #35
I will try to make it reproduced in a small sample project.

[2021-01-23 23:49] nbadal commented on #28
Fix added to 0.7.1 😀

[2021-01-23 23:49] #28 closed

[2021-01-23 23:51] nbadal commented on #34
Thanks for flagging this!
Fix added to 0.7.1 😀

[2021-01-23 23:51] #34 closed

[2021-01-24 01:05] IvanPizhenko commented on #35
Here is sample project https://github.com/IvanPizhenko/kotlin-sample-project

[2021-01-24 01:09] IvanPizhenko commented on #35
Look here https://github.com/IvanPizhenko/kotlin-sample-project/blob/bb95c355aa5e78af4b2744b0d70fb080bc5c2282/module1/src/main/kotlin/org/example/Controller.kt#L15

[2021-01-24 02:23] nbadal commented on #35
Awesome, thank you! I'll make sure to distill this down into a test case as well once I've got that set up 😁

Looking into it now, then I'll publish a fix in 0.7.1 hopefully 🤞

[2021-01-24 04:09] nbadal commented on #35
I think this may be due to the gradle ktlint plugin using ktlint 0.39.0, and my plugin using 0.40.0 – I'll have to verify this tomorrow morning, but using `ktlint` v0.40.0 on the command line directly also doesn't show the error that the gradle plugin does.

This might be fixed by https://github.com/pinterest/ktlint/issues/901 ? Seems like a relevant entry in the 0.40.0 changelog
I'll get my hands

[2021-01-24 07:24] tomholub commented on #34
Excellent, thank you for the fix :+1:

[2021-01-24 08:54] IvanPizhenko commented on #35
Tried setting ktlint version to 0.40.0 in the gradle - it worked.
But what we really need is to be able to set the same version of ktlint in the both gradle and IntelliJ plugin.
Can you please add such possibility? It could be this way: a checkbox and edit field in the plugin configuration page, like this
![configuration](https://user-images.githubusercontent.com/11859904/105625479-5b6a4900-5e32-1

[2021-01-24 10:43] phanimahesh commented on #28
I installed the plugin recently and discovered the issue. Not sure if it always existed or was a regression.

[2021-01-24 17:31] nbadal commented on #35
That would be a nice feature – albeit a bit trickier to implement within the confines of the IDE plugin, but it might be possible!

I'll add it to the roadmap 😄

[2021-01-24 17:31] nbadal commented on #28
Great, just wanted to make sure it was the same cause! 0.7.1 should be rolling out shortly

[2021-01-26 22:05] mezpahlan commented on #28
Hi @nbadal mega thanks for the quick patch! I received the update today and tested it out by removing the workaround I mentioned above. Seemed fine for the day of use I had. I didn't restart the IDE in that time but...... I'm assuming that doesn't matter.

Cheers again.

[2021-01-28 07:38] sureshg opened #36 "Add support for EAP / updated platform versions as they're released"
Plugin stopped working after upgrading to the latest EAP

[code]

[2021-01-30 18:38] nbadal commented on #36
Thanks for the suggestion! I'm working on figuring out a good version support policy – I'll see if there's a way for me to consistently support EAP versions going forward. 😁

[2021-02-01 10:35] mgoyanes opened #37 "Lint after reformat setting changes reformat code behavior"
If I have the `Lint after reformat` setting enabled when I use the `Reformat Code` option (OPTION+COMMAND+L shortcut on mac) on a block of code, all the file gets reformated.

If I disable the setting,  `Reformat Code` behaves as expected, that is, it only formats the current code block and not the all file.

Ktlint 0.7.1

[2021-02-01 23:25] nbadal commented on #37
Unfortunately, ktlint itself isn't capable (currently) of linting a block of code, so the setting is all-or-nothing.
I can add a description in the settings to clarify this though! Sorry for the confusion 😄

[2021-02-02 17:12] mgoyanes commented on #37
No problem. Thanks for the explanation.

[2021-02-02 17:12] #37 closed

[2021-02-04 21:06] nbadal commented on #37
I'll definitely support partial formats as soon as the tool supports it though! I'll reopen this if that happens

[2021-02-04 21:08] nbadal opened #39 "Add easy way to undo "disable ktlint""
If a user accidentally clicks "Disable ktlint", it would be nice to be able to Ctrl+Z or click a button on a popup to quickly cancel.

![image](https://user-images.githubusercontent.com/394812/106955383-0956dc80-66ea-11eb-863a-9b863d61f59c.png)

[2021-02-06 18:54] mgoyanes commented on #37
Don't know if the tool supports it or not I would prefer the option to apply the specific rule instead of formatting the file and applying all rules.
Example.

![image](https://user-images.githubusercontent.com/5049948/107127151-13283d80-68ac-11eb-9573-1e7ac8b3ab2e.png)

I have two problems there (context actions are for the package). No newline at the end of the file and incorrect order in the im

[2021-02-07 16:11] pauldingemans commented on #24
I would also like to have an "analyze all" functionality. I have some doubts whether the default inspection system if the best place to go. The amount of inspections results is usually already overwhelming. I would prefer something similar to the "Sonarlint" plugin, e.g.:
* A separate tool window for ktlint offering functionalities like:
** A toolbar containing actions:
*** running ktlint on the c

[2021-02-07 16:18] nbadal commented on #24
@pauldingemans Definitely open to contributions! A panel like that should definitely be feasible, though the "run ktlint on project/scope" action would probably be the quickest way to address OP's use case

[2021-02-07 16:30] paul-dingemans commented on #24
Great, I will start working on that. I was actually planning to create my own ktlint plugin for this functionality just before I discovered yours. It would be much nicer to combine both. As you might notice, this remark is coming from a slightly different github account. I accidentally used my old account in the previous remark ;-)

[2021-02-12 06:55] ConorGarry opened #45 "External ruleset JARS not annotating issues."
I have created a jar file with my custom ruleset, it works fine when I run ktlint from command line, my custom rules are picked up. When I set this jar in `External ruleset JARS --ruleset` in the plugin, it doesn't pick up on my issues in the IDE (Android Studio 4.1.2).
In fact, it doesn't pick up on _any_ rules, seems that it doesn't use the pre-packaged ruleset either.

My expectation would be t

[2021-02-13 22:29] nbadal commented on #45
@ConorGarry thanks for the heads up! I'll take a look at this asap

[2021-02-14 12:25] mgoyanes opened #47 "Setting not maintained after Android Studio restart."
If I disable the setting **Lint after Reformat**, if I restart Android Studio, the setting becomes automatically enabled.
Was expecting that the setting value was maintained after restarts.

[2021-02-14 19:54] nbadal commented on #47
Good catch! Fixed, and will push an update soon 😄

[2021-02-14 20:16] mgoyanes commented on #47
Great. Thanks.

[2021-02-16 16:11] #47 closed

[2021-02-16 16:11] nbadal commented on #45
Fixed, will be included in an update this week 😁

[2021-02-16 16:11] #45 closed

[2021-03-09 10:12] Gama11 opened #54 "Copy-paste error in "Lint after Reformat" tooltip"
The checkbox has the same tooltip as the one above it, which is likely a copy-paste error:

![image](https://user-images.githubusercontent.com/2620907/110455063-4424a980-80c8-11eb-9f9e-a96c72a40ffc.png)

[2021-03-09 10:29] Gama11 opened #55 "Disable inspections while also having "Lint after Reformat" active"
Personally I don't like ktlint violations showing up as inspections (with a highlighted background etc), it can be rather distracting, especially with big multi-line ranges being highlighted. As far as I can tell, "Disable ktlint", which disables this, also disables everything else. However, I still want to have "Lint after Reformat" enabled.

My use case is basically just "format on save" - I hav

[2021-03-11 20:24] nbadal commented on #54
Good catch! The disabled rules field is also missing a tooltip 😄  Fix incoming

[2021-03-11 20:32] nbadal commented on #55
Glad to hear that the plugin is providing value to you! Maybe a good solution could be a dropdown where the user can select a severity level, or "None" in your case? 😃

[2021-03-11 20:43] nbadal commented on #54
Fixed for next release!

[2021-03-11 20:43] #54 closed

[2021-03-11 20:50] Gama11 commented on #55
Sure, that sounds like it should do the trick. 👍

[2021-03-12 20:34] nbadal commented on #55
Consider it done! It will be out with the next release sometime around this weekend 🤞

[2021-03-12 20:34] #55 closed

[2021-03-20 13:37] Gama11 commented on #55
Just tested the new release, seems to work great. :)

[2021-04-07 13:51] Gama11 commented on #36
Heads-up, 2021.1 is now released.

![image](https://user-images.githubusercontent.com/2620907/113877441-ff6c5b00-97b8-11eb-8db7-ec47a6a89ddf.png)

[2021-04-07 17:00] r6e commented on #36
Created #67 to add support for `2021.1`.

[2021-04-13 03:48] nbadal commented on #36
Thanks for the heads up all 😄 I'll keep this open to track the creation of a supporting strategy for future versions.

Something that could automatically create a PR like #67 would be amazing, might be automatable too if Jetbrains has a way to subscribe to releases

[2021-04-13 18:44] r6e commented on #36
@nbadal Maybe JetBrains' blog RSS feed? This feed seems to include the relevant posts, at least:

[code]

It looks like it could be filtered by category:

[code]

The `iintellij-idea-*` can potentially even hint at the new version number. Presuming this feed is stable, anyway.

[2021-04-27 22:22] davidarmstronglewis opened #74 "Minimal Ktlint actions for IdeaVim"
I use IdeaVim and tend to hook up formatting actions to keystrokes. Running `:actionlist` using IdeaVim shows me that there aren't any actions available to bind. Would it be possible to present some to users so that we can do stuff like the following?

[code]

Great idea for a plugin, thank you! Gonna try to incorporate it into my workflow 😄

[2021-04-28 23:14] nbadal commented on #74
Great idea! I'll take a look at how IdeaVim searches for actions 😁

[2021-04-29 00:56] nbadal commented on #74
So until this point, all the "actions" available were intention actions, which are separate from standard actions. I've added a format action under the `Reformat` menu. It now shows up under `:actionlist`, and I think it should allow keybinding in general too :)

![image](https://user-images.githubusercontent.com/394812/116489964-113a9e80-a84b-11eb-89ea-e190ff75da57.png)

[2021-04-29 02:31] nbadal commented on #24
Added a right-click option to the Project window that will address the majority of the cases mentioned here 🙂

[2021-04-29 03:01] #74 closed

[2021-04-29 03:01] #24 closed

[2021-04-29 16:47] davidarmstronglewis commented on #74
Woot! Thank you! 🙌

[2021-04-30 21:43] coyarzun89 commented on #45
Hi there, I have the same problem. If I run klint from command line, the report shows my custom rules, but they are never displayed in the IDE (Android Studio 4.1.3). I'm using the latest version (0.7.5).
Does this fix worked for you @ConorGarry?
<img width="1648" alt="Screen Shot 2021-04-30 at 17 42 39" src="https://user-images.githubusercontent.com/1242575/116757117-77eec200-a9db-11eb-8fff-3b235

[2021-05-01 10:34] mgoyanes opened #75 "Suggestion: Run ktlint analysis on demand"
When opening a file, the plugin immediately checks the file. Also, in some situations, I can see that, while changing the file, the checks are stopped and I need to close and reopen the file to force the checks to run again (sometimes this even fails).

As a user, I would like to have:

1. Have an option to force the ktlint checks on the file. For example, an action with the name "Run ktlint check

[2021-05-01 16:07] nbadal commented on #75
Interesting! I'll dig in and see how feasible this is with the available Annotations API.
So far, this plugin doesn't manage anything to do with triggering annotations checks, but there might be a way to temporarily enable a check 🤔

One thing I've been looking into is adding support for is lint rules as `Inspections` which would allow on-demand analysis. Would that be a decent solution for your u

[2021-05-01 16:12] nbadal commented on #45
@coyarzun89 Just re-checked my test rules (which are admittedly simple), and they appear as annotations for me. I wonder if it's something specific about the kind of rule you're applying. Would you be willing to share an example rule that isn't appearing?

[2021-05-01 16:20] #10 closed

[2021-05-01 17:07] mgoyanes commented on #75
Sorry. Don't know how that works

[2021-05-01 18:05] coyarzun89 commented on #45
Yep, this is the rule that I was testing. It's to enforce the use of the prefix `Data` on models inside a specific package. <img width="1648" alt="Screen Shot 2021-05-01 at 14 03 03" src="https://user-images.githubusercontent.com/1242575/116791077-f56f0c80-aa85-11eb-80b6-30f8ddc4ba1f.png">

I was testing it in a sample project with this file:
<img width="1648" alt="Screen Shot 2021-05-01 at 14 00

[2021-05-01 18:23] nbadal commented on #45
Thanks! I'll take a look using this as a test case 😄

[2021-05-01 19:31] nbadal commented on #45
@coyarzun89 Try compiling your rule using `ElementType.PACKAGE_DIRECTIVE` or `KtNodeTypes.PACKAGE_DIRECTIVE` when comparing `node.elementType`. I can't find any supporting documentation to indicate which is the "correct" approach, but I'll ask around.

I think one class somewhere in there has a bug in its `equals()` method, and the resolved object is a separate instance because the IDE has its own

[2021-05-01 19:43] nbadal commented on #45
I was able to reproduce the issue, and the debugger results are interesting 🤔

![Screen Shot 2021-05-01 at 12 42 15 PM](https://user-images.githubusercontent.com/394812/116793270-ab345e00-aa7a-11eb-9cbd-5c25589c4f95.png)

[2021-05-01 20:00] nbadal opened #76 "Shadowed element types cause some custom rules to fail"
If a custom rule tries to compare against `KtStubElementTypes` element types, the comparison will fail because it is a shadowed class.

[2021-05-01 20:00] nbadal commented on #45
Okay, I've found the cause! `org.jetbrains.kotlin.psi.*` classes are shadowed in my plugin due to collisions with the IDE's built-in kotlin compiler.

I created a new issue to track this: #76

[2021-05-01 20:19] #76 closed

[2021-05-02 16:45] coyarzun89 commented on #45
Thank you so much for the debugging! I'll give it a try to use `ElementType.PACKAGE_DIRECTIVE`

[2021-05-02 21:57] nbadal commented on #45
If that doesn't work, the fix will be out in 0.7.6 soon 😀

[2021-05-03 08:47] huehnerlady opened #77 "Add mechanism to disable rule for all projects"
Hi,

I like the plugin a lot, what I am missing is an option, to have a few rules disabled not on a project-level, but for all projects together. I would see it as kind of a hierarchy, that you have the rules that are disabled for all projects, and then you have the rules that are disabled for one particular project

[2021-05-03 18:07] nbadal commented on #77
Hello! I'm glad you're enjoying the plugin 😄

I'll give this suggestion some thought – I'm wary of adding functionality that isn't a part of `ktlint` by itself, because I want to maintain parity between command-line usage and IDE usage.

Maybe I can open a PR on ktlint to add a `~/.global_ktlint` configuration of sorts 😅

[2021-05-05 06:00] huehnerlady commented on #77
I see your point. I would say as it is a commandline you could have 2 boxes, one for the project and one that is global. Then you could combine the 2 in the command line. But I do like your idea with having a global ktlint file. I guess you could add more functionality to that than just disabling rules as well, if there are any that would make sense :)

[2021-05-19 05:35] nbadal commented on #36
Just added a nightly action to check for newer releases 🎉

[2021-06-24 00:15] nbadal opened #97 "Support `disabled_rules` key in .editorconfig syntax"
It would be nice if this wasn't marked as an error, had autocomplete, etc

[2021-07-12 13:49] alexfacciorusso commented on #35
@nbadal If you wouldn't mind, I could try finding some spare time to develop this feature and contribute to the plugin? I don't want to step on anyone else's toes if someone is already on it!

[2021-07-12 15:07] nbadal commented on #35
@alexfacciorusso absolutely, take a stab at it!

[2021-07-27 09:01] Reedyuk commented on #36
Just to add im running 2021.2 RC and the plugin doesnt work, would you be able to release an update to support it?

[2021-07-27 18:06] CXwudi opened #109 "Support Intellij 2021.2"
Just updated my Intellij to 2021.2 today and I got this
![image](https://user-images.githubusercontent.com/17377423/127205343-78c4bc77-fc0d-400c-8658-4109f6d780ea.png)

[2021-07-27 18:22] CXwudi commented on #36
Same here, I mentioned it in #109

[2021-07-28 15:09] ssamayoa commented on #109
Same here :(

[2021-08-01 19:11] nbadal commented on #36
I appreciate the heads up! I was out of town, but now merging in #110 to address the latest version

[2021-08-01 20:36] nbadal commented on #109
Support added in 0.8.0, should be available soon!

[2021-08-01 20:36] #109 closed

[2021-08-20 21:58] cprice404 opened #120 "experimental rules checkbox not working?"
I enabled the experimental rules in my gradle config, and the gradle build now fails in places where I am violating them as I would expect.  However, I also checked the "Use experimental rules" checkbox in the IDEA plugin config dialog, and the errors that are causing the compile failures are not being highlighted in the editor window. Is there another setting I need to toggle?

[2021-08-31 14:29] NikolayMetchev opened #125 "Run ktlint on save"
It would be nice if it did really automatically format your code every time a file is saved.

[2021-09-05 22:11] nbadal commented on #120
@cprice404 would you happen to know which rules it wasn't picking up? I can look into this!

[2021-09-07 13:02] cprice404 commented on #120
I noticed it for at least a couple:

* Argument list wrapping
* No leading empty lines in method blocks

I didn't see any editor highlighting when I violated those, but when I ran ktlint outside the IDE it definitely detected them.

I think I also tried and observed it on:

* Braces required for multiline if/else statements

[2021-09-25 13:19] juergenzimmermann opened #132 "0.8.1 cannot be installed with IJ 2021.3"
The ktlint plugin cannot be installed on IntelliJ 2021.3. It would be nice if you could support the new IJ release.

[2021-09-30 12:54] juergenzimmermann commented on #132
@nbadal Maybe you can just extend the compatibility range as in https://github.com/jimkyndemeyer/js-graphql-intellij-plugin/issues/494

[2021-10-01 17:26] nbadal commented on #132
Thanks for the heads up! I'm curious why my nightly version check didn't open a PR for this, I'll investigate!

[2021-10-01 17:36] nbadal commented on #132
Ah, 213 is still in EAP! Thoughts on EAP so far are captured in #36

[2021-10-01 17:36] #132 closed

[2021-10-01 17:53] nbadal commented on #36
It looks like we can include EAP versions in the same script by appending `&release.type=eap%2Crc` to the API call! I'll add that and see how things go

[2021-11-05 18:03] nbadal commented on #36
Looks like I still need to fix one bug with the PR script so that it correctly adds the version but at least the PR will be triggered now 😅

[2021-11-16 17:55] shapan1 opened #148 "misconfigures the import order when using Mockito"
Found a bug today where the lexicographical order is unable to correct order Mockito import for when containing  the character `
[code]
This is the correct order, however ktlint shows this as an error and then after running it. The import are incorrectly ordered to
[code]
due to the ` character

[2021-11-30 21:16] CXwudi commented on #132
Heads up, 2021.3 is public available now

[2021-12-02 08:24] huehnerlady opened #152 "Support Intellij 2021.3"
As Intellij 2021.3 is now released would be great to get this plugin supported again :)

_Originally posted by @CXwudi in https://github.com/nbadal/ktlint-intellij-plugin/issues/132#issuecomment-983027521_

[2021-12-13 12:18] huehnerlady commented on #152
@nbadal could you maybe give an update here when this will be available?

[2021-12-13 19:16] nbadal commented on #152
Should have this up in the next day or so! Dealing with some commit signing issues on my personal dev machine, so I may just make the changes manually on Github tonight 😬

[2021-12-16 14:38] leninmedeiros commented on #152
@nbadal any updates on that? I am really looking forward to be using ktlint again here as I recently updated my IJ version to 2021.3 :D

[2021-12-19 02:06] nbadal commented on #152
0.8.2 is published on my end as of tonight! As soon as Jetbrains approves, it should be available. I appreciate everyone's patience 😁

Hoping to start integrating during EAP so that it's available immediately for upcoming versions.

[2021-12-19 02:34] nbadal commented on #148
This seems to be the intended behavior, it was changed within ktlint itself here: https://github.com/pinterest/ktlint/issues/1106

The fact that it doesn't match up with the IDE's sorting order is either a ktlint bug, or a bug with the Kotlin plugin as noted in the link above.

[2021-12-19 02:34] #148 closed

[2021-12-19 02:39] nbadal commented on #120
@cprice404 I haven't been able to reproduce this issue since you reported it – has it been happening for you still?

One idea: there are times where code analyzing _as a whole_ is slow or interrupted at times and nothing gets linted (along with other analyzers, not just mine). I see this occasionally on larger projects, but it usually resolves itself over time or with a restart of the IDE.

[2021-12-20 20:40] nbadal commented on #148
Out of my own curiosity, I have submitted a change to the JetBrains Kotlin plugin to match this ordering, and it will eventually be released in an update 😁

[2021-12-20 21:19] Jolley71717 commented on #152
A bit off topic, but is there anywhere we can track the status of this?
I'm interested in the process that Intellij goes through for approving plugins, and I'm especially interested in this plugin.

[2021-12-21 19:34] nbadal commented on #152
@Jolley71717  If you set up notifications for releases on this repo, you'll see when I submit to JetBrains. They usually review within a business day or two 😄
![image](https://user-images.githubusercontent.com/394812/146987225-df1e3261-c0ec-41c3-b386-1294f31d8608.png)

Also, I have a job set up to automatically open PRs for new IDE versions that are published to EAP.

(+ Closing now that the updat

[2021-12-21 19:34] #152 closed

[2022-01-28 12:41] juergenzimmermann opened #171 "0.8.2 cannot be installed with IJ 2022.1 EAP"
The ktlint plugin cannot be installed on IntelliJ 2022.1. It would be nice if you could support the new IJ EAP release.

Maybe you can just extend the compatibility range as in https://github.com/nbadal/ktlint-intellij-plugin/issues/132.

[2022-02-01 09:33] rbleuse commented on #171
According to [this comment](https://github.com/nbadal/ktlint-intellij-plugin/issues/152#issuecomment-999041053) there's a Github action which checks new IntelliJ versions and create a PR to support new version.
The PR has been created https://github.com/nbadal/ktlint-intellij-plugin/pull/170, we just have to wait for it to be checked and merged

[2022-02-15 13:02] FloEdelmann commented on #125
It would also be useful to have the option to only run the linter on save (and not while typing), so that temporary lint errors during coding are not immediately reported.

E.g. hitting enter to write a new function may temporarily result in two consecutive newlines, but the resulting `no-consecutive-blank-lines` lint error is distracting.

[2022-02-24 04:48] nbadal commented on #171
Fixed the issue in the PR + script, and merged 221.* support! Should be ready in the next release in the next few days 😁

[2022-03-02 07:11] nbadal commented on #171
And now released 😁

[2022-03-02 07:11] #171 closed

[2022-03-11 17:05] adapap commented on #120
Here to +1 that experimental rules don't seem to be working (at least for `argument-list-wrapping`). Here is a repro case:

[code]

Error from ktlint: `Example.kt:10:41: Argument should be on a separate line (unless all arguments can fit a single line)`

No error caught by plugin (experimental rules enabled). It does actually format if all three arguments are on the same line, maybe this has to do

[2022-03-14 22:40] nbadal commented on #120
@adapap thanks for the repro case! I'll take another look at this

[2022-03-14 22:41] nbadal commented on #125
I'll see what options I have here, but it would honestly be nice to elevate this request up to the IDE level and have the ability to set a "debounce"/"cooldown" for how often the IDE runs analysis plugins in general!

[2022-03-26 19:04] nbadal opened #188 "Runtime exception in custom ruleset prevents settings access"
If you import a broken ruleset (like an older ktlint version) it will throw an exception and prevent removal of the problematic jar

[2022-03-26 19:54] #188 closed

[2022-03-27 03:13] nbadal commented on #120
Confirmed that something has changed with regard to how ktlint likes being loaded via the class loader since I originally implemented it. Working on a fix now!

[2022-03-27 17:52] nbadal opened #189 "ktlint 0.45 crashes plugin with java.lang.LinkageError"
This seems to have been caused by the addition of a new logging library [in this change](https://github.com/pinterest/ktlint/pull/1327)

[code]

[2022-03-27 18:14] #189 closed

[2022-03-27 20:42] #120 closed

[2022-03-27 20:43] nbadal commented on #120
It ended up being a shadow jar issue! Fixed in 0.9.0+

[2022-05-20 18:36] juergenzimmermann opened #203 "0.9.0 cannot be installed with IJ2022.2 EAP"
The ktlint plugin cannot be installed on the fresh available IntelliJ 2022.2 EAP. It would be nice if you could support it.
Maybe you can just extend the compatibility range.

[2022-05-21 05:57] nbadal commented on #203
@juergenzimmermann thank you again again for the heads up! I'll add support and look into why the PR wasn't auto-created 😅

[2022-05-21 06:01] nbadal commented on #203
Will be supported in `0.9.1` 😁

[2022-05-21 06:01] #203 closed

[2022-05-21 06:06] nbadal opened #205 "Auto-updating platform support should update CHANGELOG.md in pull request"
This would be nice so I don't have to do it by hand each time 👀

[2022-05-21 06:07] nbadal commented on #36
Okay, fixed one last bug (`gsed` vs `sed`) but it should be working now! 🤞

[2022-05-21 06:07] #36 closed

[2022-06-01 14:44] kenyee opened #207 "Feature Request: allow maven coordinates for --ruleSet"
The ktlint Gradle plugin allows using maven coordinates.

Would be nice if the IDE plugin could as well.

[2022-06-03 06:38] nbadal commented on #207
That's an interesting suggestion! The Gradle plugin gets that functionality fairly cheaply since Gradle has direct maven access etc.

For that to work in the IDE, the maven resolution would have to happen at runtime without any of the supporting Gradle scaffolding.

Not impossible, but would definitely require some deeper investigation 😁

[2022-06-03 06:41] nbadal commented on #207
Note: This runtime maven functionality would be implemented very similarly to #35 which is also a ktlint Gradle plugin feature

[2022-06-06 15:58] kenyee commented on #207
You can use the Aether library (https://github.com/sonatype/sonatype-aether) to grab maven artifacts though it's super ancient.  Probably a similar technique could be used to allow this plugin to support multiple ktlint plugins...download jars, add to classpath, and then use that ktlint version.

[2022-06-13 01:03] nbadal commented on #207
@kenyee Thanks for the tip! 😁 Will definitely look into that and see if:
 - it could work
 - if there's a more modern take on that mechanism
 - how it would effect the size/resource usage of the plugin

[2022-06-19 23:37] ldavidsp opened #209 "Convert Tabs to Spaces"

[2022-06-19 23:51] #209 closed

[2022-06-19 23:52] ldavidsp opened #210 "Auto saved reformat"

[2022-07-01 05:20] nbadal commented on #210
Hello @ldavidsp 😁

Can you please provide more details? Is your request the same as #125 ?

[2022-07-08 08:05] tobiberger opened #218 "Trailing comma behaviour different from gradle plugin"
Over time, our team developed certain standards about where we want to use trailing commas. We like to use them in many places like injected service constructors, list builders etc. (places where it is common to add lines later) but we don't use them in more static places like method calls that just get one parameter.
Ktlint itself is fine with this and although our fuzzy rules can't be enforced,

[2022-08-11 13:35] halvorbmundal opened #225 "Uses experimental rules when "Use experimental rules" are turned off"
After upgrading the plugin to 0.10.0 I get an error saying "Missing { ... } (multiline-if-else)". However, multiline-if-else is a part of the experimental rule set according to [this](https://androidrepo.com/repo/pinterest-ktlint#experimental-rules) site. I do not have experimental rules turned on in the plugin.

[2022-08-12 17:04] snijsure opened #226 "Love this plugin - how do I share supression rules across the team?"
I have been using this plugin and absolutely love it.

When it flags some rules that we don't care of in our project, I am suppressing them for the project, that works.

Where are those suppression rules stored, can they be shared across team members?

[2022-08-20 04:07] marlonlom commented on #7
Greeting,
Still happening.
In my case, is happening when creating a new kotlin file inside the IDE (android studio)

[code]

[2022-08-23 05:53] #225 closed

[2022-09-24 13:29] juergenzimmermann opened #234 "0.10.0 cannot be installed with IJ 2022.3 EAP"
The ktlint plugin 0.10.0 cannot be installed on IntelliJ 2022.3 EAP. It would be nice if you could support the new IJ release.

[2022-09-27 02:58] nbadal commented on #234
Thanks for the heads up! It seems I break my IDE update automation every cycle right before a new version drops. Fixing now!

[2022-09-27 03:06] nbadal commented on #234
Fixed script, #235 opened 😁

[2022-09-27 03:06] #234 closed

[2022-09-27 03:11] nbadal commented on #226
@snijsure Glad you're enjoying it! You should probably utilize the `.editorconfig` file to do shared configuration.

Docs: https://pinterest.github.io/ktlint/faq/#how-do-i-globally-disable-a-rule

[2022-09-27 11:37] gerrytan commented on #234
Same problem with IJ 2022.2.1, it installs, then lingers in disabled state. The enable checkbox is greyed out. I hope the same fix applies.

[2022-09-30 13:34] vojkny opened #238 "disabled_rules in .editorconfig were deprecated"
Within new ktlint, these should be named `ktlint_disabled_rules`, however it seems that these are ignored by the plugin?

[2022-10-07 18:08] IvanPizhenko opened #239 "How to disable ktlint for certain paths in the project?"
Is there a way to disable ktlint validation for the certain paths of the project?

[2022-10-28 13:33] ajans opened #241 "Make path to ktlint-executable configurable instead of using a bundled ktlint-version"
Thank you for this great plugin!

The thing that would make my (and maybe your) life easier, would be to set the path to the ktlint-executable used by this plugin (similar to how the Git-executable is configured in Android Studio et al).

As it is now, the plugin-bundled version of ktlint is 0.46.1 according to the changelog on the plugin-homepage.
The latest released official version of ktlint fr

[2022-11-18 04:29] nbadal opened #243 "Alert user when ruleset can not be loaded"
For missing files / JARs without rules / etc on the config page, we should show a warning